
body{
    background:rgb(220, 220, 220); /* Beccapurple */
    width: 100%;
    height: auto;
	margin: 0;
}
.login{
    display: block;
    position: absolute;
     top: 150px;
     width: fit-content;
     height: fit-content;
     margin-left: 40%;
     padding: 5% 5% 5%;
     text-align: center;
     align-content: center;
     color:whitesmoke;
     background-color: black;
     box-shadow: 5px 5px 5px black;
     
 }
#login_submit_btn{
    background-color: #180394;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (min-width: 480px){
    .login {
        padding: 2.5rem;
    }
}

.alert{
    text-align: center;
    padding: 10px;
    color: red;
    display: none
}
