:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #000000;
}

body{
    background: var(--main-gray);
    color: var(--main-white);
}

.projects-section-header {
    /* max-width: 640px; */
    text-align: center;
    margin-top: 60px;
    /* margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white); */
}
 
.blog-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 10px; */
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
} 


 img {
    display: block;
    width: 100%;
}

/* .left {
    background: var(--main-black);

    padding-left: 29px;
    margin: 7px;
    width: 200px;
    
    border-radius: 25px;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
} */
.blog {
    display: flex;
    flex-direction: row;
    color: var(--main-white);
     padding-left: 17%;
    /* margin-top: 60px  */
}

.blog-image {
    height: calc(100% - 1.8rem);
    width: 100%;
    /* object-fit: cover; */

    padding-left: 29px;
    margin: 7px;
    width: 200px;
    
    border-radius: 50%;

    /* box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.5); */
}

.right{
    padding-left: 29px;
    margin: 7px;
    width: 100%;
    height: auto;
    margin-top: 60 px;
    /* border-radius: 25px; */
}

/* 
.blog-tile{
    font-size: 1.3rem;
    padding: 1rem 0.3rem
}  */